In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
year = "2020"

In [3]:
output_path = r"C:\Users\samgh\Downloads\Code\Jacob Files\Output"
output_path = os.path.join(output_path, year + " aggregated.csv")

In [4]:
csv_dir = r"C:\Users\samgh\Downloads\Code\Jacob Files\CSVs"
csv_path = os.path.join(csv_dir, year + " raw data.csv")

In [5]:
physicians = pd.read_csv(csv_path) # load to DataFrame
physicians

,physician_profile_id,physician_specialty,total_amount_of_payment_usdollars
0,26,Allopathic & Osteopathic Physicians|Orthopaedi...,117.38
1,26,Allopathic & Osteopathic Physicians|Orthopaedi...,63.09
2,26,Allopathic & Osteopathic Physicians|Orthopaedi...,113.07
3,113,Allopathic & Osteopathic Physicians|Orthopaedi...,18.75
4,113,Allopathic & Osteopathic Physicians|Orthopaedi...,14.11
...,...,...,...
182702,8806356,Allopathic & Osteopathic Physicians|Orthopaedi...,4320.57
182703,8806356,Allopathic & Osteopathic Physicians|Orthopaedi...,362.20
182704,8806356,Allopathic & Osteopathic Physicians|Orthopaedi...,154.00
182705,8806356,Allopathic & Osteopathic Physicians|Orthopaedi...,20.37
182706,8806356,Allopathic & Osteopathic Physicians|Orthopaedi...,488.60

In [6]:
specialty = physicians.groupby(['physician_profile_id']).max()
a = specialty[['physician_specialty']]
a

                                                    physician_specialty
physician_profile_id
26                    Allopathic & Osteopathic Physicians|Orthopaedi...
113                   Allopathic & Osteopathic Physicians|Orthopaedi...
116                   Allopathic & Osteopathic Physicians|Orthopaedi...
176                   Allopathic & Osteopathic Physicians|Orthopaedi...
181                   Allopathic & Osteopathic Physicians|Orthopaedi...
...                                                                 ...
8806193               Allopathic & Osteopathic Physicians|Orthopaedi...
8806206               Allopathic & Osteopathic Physicians|Orthopaedi...
8806304               Allopathic & Osteopathic Physicians|Orthopaedi...
8806305               Allopathic & Osteopathic Physicians|Orthopaedi...
8806356               Allopathic & Osteopathic Physicians|Orthopaedi...

[20392 rows x 1 columns]

In [7]:
money = physicians.groupby(['physician_profile_id']).sum()
b = money[["total_amount_of_payment_usdollars"]]
b

                      total_amount_of_payment_usdollars
physician_profile_id
26                                               293.54
113                                              864.28
116                                              426.32
176                                              169.47
181                                               32.36
...                                                 ...
8806193                                          260.96
8806206                                          165.15
8806304                                         1250.00
8806305                                         5400.00
8806356                                         6812.21

[20392 rows x 1 columns]

In [8]:
final = a.join(b).reset_index()
final

,physician_profile_id,physician_specialty,total_amount_of_payment_usdollars
0,26,Allopathic & Osteopathic Physicians|Orthopaedi...,293.54
1,113,Allopathic & Osteopathic Physicians|Orthopaedi...,864.28
2,116,Allopathic & Osteopathic Physicians|Orthopaedi...,426.32
3,176,Allopathic & Osteopathic Physicians|Orthopaedi...,169.47
4,181,Allopathic & Osteopathic Physicians|Orthopaedi...,32.36
...,...,...,...
20387,8806193,Allopathic & Osteopathic Physicians|Orthopaedi...,260.96
20388,8806206,Allopathic & Osteopathic Physicians|Orthopaedi...,165.15
20389,8806304,Allopathic & Osteopathic Physicians|Orthopaedi...,1250.00
20390,8806305,Allopathic & Osteopathic Physicians|Orthopaedi...,5400.00
20391,8806356,Allopathic & Osteopathic Physicians|Orthopaedi...,6812.21

In [9]:
final.to_csv(output_path)